<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="The personal website of software developer Chris Cummins.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-tooltip" content="Chris Cummins personal website">
    <meta name="author" content="Chris Cummins">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    {%include google-analytics.html %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Chris Cummins</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right login-creds">
              Logged in as <strong>root</strong>
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/cv/">CV</a></li>
              <li><a href="/projects/">Projects</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="sidebar-nav">
            <center>
              <ul class="nav nav-list">
                <img style="width: 100%; max-width: 250px; margin: 5px auto 15px;" src="/images/selfie.jpg"/>
                <li class="active"><a href="/">Home page</a></li>
                <li><a href="/cv/">Curriculum Vitae</a></li>
                <li><a href="/projects/">Open Source Projects</a></li>
                <hr>
                <li><a href="http://www.linkedin.com/profile/view?id=195091553" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/ChrisCummins"                   target="_blank">GitHub</a></li>
                <li><a href="http://www.facebook.com/cecummins"                 target="_blank">Facebook</a></li>
                <li><a href="http://www.youtube.com/user/ChrisCummins"          target="_blank">YouTube</a></li>
                <li><a href="http://soundcloud.com/peakstudio"                  target="_blank">SoundCloud</a></li>
                <li><a href="mailto:chrisc.101@gmail.com">Email</a></li>
                <hr>
                <li><a href="/posts/about/">About this site</a></li>
              </ul>
            </center>
          </div><!--/.well -->
        </div><!--/span-->
        <div id="body-span" class="span9">
          <div class="hero-unit">
            <h1>{{ page.title }}</h1>
          </div>
          <div id="content" class="row-fluid">
            <div class="span12">
              {{ content }}
              {% if page.date %}
              <div id="post-nav">
                <div id="read-more">
                  <a href="/#posts" title="Return to home page">More posts &gt;&gt;</a>
                </div>
                <div id="date">
                  {{ page.date | date_to_string }}
                </div>
              </div>
              {% endif %}
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; <a href="mailto:chrisc.101@gmail.com">Chris Cummins</a> 2014</p>
      </footer>

    </div><!--/.fluid-container-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/js/site.js"></script>

  </body>
</html>
